<h1>Editando prato: <span class="text-info"><%= @dish.description %></span></h1>

<%= render 'form', dish: @dish %>


<footer class="card-footer">

  <%= link_to 'Visualizar', @dish , :class => 'btn btn-outline-warning' %> |
  <%= link_to 'Voltar', dishes_path , :class => 'btn btn-outline-info' %>
</footer>

