/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.bordas-redondas{
    border-radius: 0 0 15px 15px;
}

.efeito-titulo{
    background: rgba(0,0,0,.125);
    text-align: center;
    color: #007bff;
    font: 95px/1 "cursive";
    /*text-transform: uppercase;*/
    display: block;
    text-shadow: #232545 -1px 1px 0,
    #666 -2px 2px 0,
    #d4cad1 -3px 3px 0;
    /*#113aff -4px 4px 0;*/
    margin: 5% auto 5%;
    border-radius: 30px;
    box-shadow: #666666 -2px 2px 0;
}

.btnAdm{
    position: absolute;
    float: right;
    margin-bottom: 70px;
}

.mais-info{
    cursor: pointer;
}

.hide{
    display: none;
}